.header {
    &__link {
        flex: 62px;
        color: black;
        font-size: 22px;
        padding: 10px 20px; 
        &--disabled {
            display: none;
        }
    }
    &__logo {
        flex: 90%;
        flex-grow: 2;
        text-align: center;
        padding: 10px 0;
        &--link {
            padding-right: 62px;
        }
    }
    &--location {
        width: 100%;
            &-text {
            text-align: center;
            padding: 15px 0;
            background: linear-gradient(to bottom, darken($color-background, 20%), darken($color-background, 5%) 10%);
        }
        &-icon {
            width: 15px;
            margin-left: -30px;
            margin-right: 15px;
            font-size: 0.9rem;
        }
    }
    &__picture {
        width: 100%;
        height: auto;
        max-height: 400px;
        object-fit: cover;
    }
}

.container-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}