.like {
    position: absolute;
    right: 25px;
    bottom: 20px;
    font-size: 1.8rem;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    &--gradient {
        position: absolute;
        right: 25px;
        bottom: 20px;
        background: linear-gradient(355deg, $color-primary, $color-secondary);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 1.8rem;
        transform: scale(0);
        transform-origin: bottom;
        opacity: 0;
        transition: transform 1000ms 200ms ease-in-out, opacity 1000ms linear;
        }
    &:hover {
        opacity: 0;
        & + .like--gradient {
            transform: scale(1);
            opacity: 1;
        }
    }
}