@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);

a {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
    font-family: "Shrikhand", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
}

h2 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 1000;
}

h3, a {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
    font-size: map-get($map: $font-size, $key: large);
}

h4 {
    font-family: "Shrikhand", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 100;
}

p, li {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: map-get($map: $font-size, $key: medium )
}