ol {
    list-style: none;
    counter-reset: compteur;
}

ol li::before {
    content: counter(compteur)"";
    counter-increment: compteur 1;
    color: white;
    padding: 2px;
    margin-left: -35px;
    background: $color-primary;
    border-radius: 20px;
    font-size: 0.8rem;
    width: 15px;
    display: inline-block;
    text-align: center;
}

.operating {
    padding: 20px 0 20px;
    background-color: white;
    &__title {
        padding: 20px 20px 20px;
    }
    &__button {
        border: none;
        background-color: $color-background;
        padding: 25px;
        border-radius: 20px;
        margin: 0 20px 20px 30px;
        font-weight: bold;
        @include shadow;
        &:hover {
            background-color: lighten($color-primary, 30%);
            @include shadow-hover;
            >.operating__icon {
                color: $color-primary;
            }
        }
    }
    &__icon {
        width: 15px;
        margin: 0 15px;
        font-size: map-get($map: $font-size, $key:medium)
    }
}

@media screen and (min-width : 1024px) {

    .operating {
        padding: 30px 0 20px;
        flex: 100%;
        flex-flow: row nowrap;
        justify-content: center;
        &__button {
            flex: 30%;
            max-width: 250px;
        }
    }

    .operating ol {
        display: flex;
        justify-content: center;
    }
    
}