
.resto {
    padding: 20px 0 40px;
    background-color: $color-background;
    &__title {
        padding: 20px 20px 20px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
}

.card {
    position: relative;
    display: block;
    background-color: white;
    margin: 0 20px 20px;
    border-radius: 20px;
    @include shadow;
    &:hover {
        @include shadow-hover;
    }
    &--new::before {
        content: "Nouveau";
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
        font-size: 14px;
        font-weight: bold;
        color: darken($color-tertiary, 40%);
        background: #99E2D0;
        padding: 10px 15px;
    }
    &__picture {
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: cover;
        // aspect-ratio: 16/9;
        border-radius: 20px 20px 0 0;
    }
    &__title {
        color: black;
        background-color: inherit;
        font-size: map-get($map: $font-size, $key: large);
        font-weight: 900;
        padding: 10px 15px 0;
    }
    &__subtitle {
        color: black;
        background-color: inherit;
        font-size: map-get($map: $font-size, $key: medium);
        padding: 5px 15px 15px;
        border-radius: 0 0 20px 20px;
    }
}

@media screen and (min-width : 768px) {

    .resto {
        &__wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: center
        }
    }

    .card {
        margin: 20px;
        flex: 40%;
        max-width: 400px;
    }

}