/* Couleurs */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: whitesmoke;
$color-black: black;
$color-white: white;

/* Ombres */
$shadow: 5px 5px 10px 0px $color-black;
$shadow-hover: 5 5px 10px 0px $color-black;